.slider .thumb {
    -fx-background-color: #f95e5c;
    -fx-border-color: #1a1b1f;
    -fx-pref-height: 9;
    -fx-pref-width: 10;
    -fx-border-width: 2;
}
.slider .track {
    -fx-background-color: TRANSPARENT;
}
.progress-bar .track {
    -fx-background-color: #595a5e;
    -fx-background-radius: 0;
}
.progress-bar .bar {
    -fx-background-color: #f95e5c;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0;
}
.redButtons {
    -fx-background-color: TRANSPARENT;
    -fx-border-width: 1;
    -fx-border-color: #f95e5c;
    -fx-text-fill: #f95e5c;
}
.redButtons:hover {
    -fx-background-color: #f95e5c;
    -fx-text-fill: #1a1b1f;
}
