.closeButton {
    -fx-image: url("../../resources/assets/closeButton.png");
}
.closeButton:hover {
    -fx-image: url("../../resources/assets/closeButtonHover.png");
}
.minmaxButton {
    -fx-image: url("../../resources/assets/minmaxButton.png");
}
.minmaxButton:hover {
    -fx-image: url("../../resources/assets/minmaxButtonHover.png");
}
.minimizeButton {
    -fx-image: url("../../resources/assets/minimizeButton.png");
}
.minimizeButton:hover {
    -fx-image: url("../../resources/assets/minimizeButtonHover.png");
}